.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background: #ffffff;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
